{:paths   ["src"]
 :deps    {io.pedestal/pedestal.service {:mvn/version "0.5.9"}
           cheshire/cheshire            {:mvn/version "5.10.0"}
           jinx/jinx                    {:mvn/version "0.1.6"}
           com.wsscode/pathom3          {:git/url "https://github.com/wilkerlucio/pathom3"
                                         :sha     "7d55e06f72d29574cf03636cbcae88aa613e3183"}}
 :aliases {:dev {:extra-paths ["dev" "test" "resources"]
                 :extra-deps  {org.clojure/clojure        {:mvn/version "1.10.3"}
                               org.clojure/test.check     {:mvn/version "1.1.0"}
                               midje/midje                {:mvn/version "1.9.9"}
                               datascript/datascript      {:mvn/version "1.1.0"}
                               io.pedestal/pedestal.jetty {:mvn/version "0.5.9"}}}}}
